<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Сервіс Обліку Студентів</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Personal style -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container-fluid">

    <!--Start Header -->
    <div class="row" id="container">
        <div class="bord col-lg-8">
            <h1>Сервіс обліку студентів</h1>
        </div>
        <div class="bord  col-lg-4" id="group-selector">
            <strong>Група:</strong>
            <select name="" id="">
                <option value=””>Усі Студенти</option>
                <option value=””>МтМ - 21, Подоба Віталій (№ 254)</option>
                <option value=””>МтМ - 22, Корост Андрій (№ 2123)</option>
            </select>
        </div>
    </div>
    <!--End Header -->
    <!--Start SubHeader -->
    <div class="row" id="sub-header">
        <div class="bord col-lg-12">
            <ul class="nav nav-tabs">
                <li><a href="index.html">Студенти</a></li>
                <li class="active"><a href="visits.html">Відвідування</a></li>
                <li><a href="groups.html">Групи</a></li>
            </ul>
        </div>
    </div>
    <!-- End SubHeader -->
    <!-- Start Main Page Content -->
    <div class="row" id="content-columns">
        <div class="bord col-lg-12" id="content-column">
            <!-- Status message -->
            <div class="alert alert-warning">Зміни скасовано.</div>
            <!-- Add group Button -->
            <h2>Облік відвідування</h2>
            <!-- Start Monthly selector -->
            <ul class="pager">
                <li class="previous"><a href="#">&larr; </a></li>
                Жовтень 2014
                <li class="next"><a href="#">&rarr;</a></li>
            </ul>
            <!-- End monthly selector -->
            <!-- Start Students Listing -->
            <table class="table table-hover table-bordered" id="visits">
                <thead>
                <tr>
                    <th><a href="#">№</a></th>
                    <th>Студент</th>
                    <th>Сp<br>1</th>
                    <th>Чт<br>2</th>
                    <th>Пт<br>3</th>
                    <th>Сб<br>4</th>
                    <th>Нд<br>5</th>
                    <th>Пн<br>6</th>
                    <th>Вт<br>7</th>
                    <th>Сp<br>8</th>
                    <th>Чт<br>9</th>
                    <th>Пт<br>10</th>
                    <th>Сб<br>11</th>
                    <th>Нд<br>12</th>
                    <th>Пн<br>13</th>
                    <th>Вт<br>14</th>
                    <th>Сp<br>15</th>
                    <th>Чт<br>16</th>
                    <th>Пт<br>17</th>
                    <th>Сб<br>18</th>
                    <th>Нд<br>19</th>
                    <th>Пн<br>20</th>
                    <th>Вт<br>21</th>
                    <th>Сp<br>22</th>
                    <th>Чт<br>23</th>
                    <th>Пт<br>24</th>
                    <th>Сб<br>25</th>
                    <th>Нд<br>26</th>
                    <th>Пн<br>27</th>
                    <th>Вт<br>28</th>
                    <th>Сp<br>29</th>
                    <th>Чт<br>30</th>
                    <th>Чт<br>31</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <div class="student">
                        <td>1</td>
                        <td><a href="#">Віталій Полдоба</a></td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" checked value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" checked value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>

                    </div>

                </tr>
                <tr>
                    <div class="student">
                        <td>1</td>
                        <td><a href="#">Которст Андрій</a></td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" checked value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" checked value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" checked value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="visited">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                </label>
                            </div>
                        </td>

                    </div>
                </tr>
                </tbody>
            </table>
            <!-- End Students Listing -->

        </div>
    </div>
    <!-- End Main Page Content -->
    <!--Start pages selector-->
    <ul class="pagination">
        <li class="active"><a href="#">1<span
                class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">Далі</a></li>
    </ul>
    <!--End page selector-->
    <!-- Start Footer -->
    <div class="row" id="footer">
        <div class="bord col-lg-12">
            &copy; 2019 Сервіс Обліку Студентів
        </div>
    </div>
    <!-- End Footer -->

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>